@media only screen and (max-width: 480px) {

    .first-section {
        width: 100%;
        padding: 1em 3em;
        background-color: white;
        color: black;
        display: flex;
        flex-direction: column;
    }

    .logo h2{
        color: black;
    }

    .mobile {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    .nav-bar {
        padding: 0;
        margin: 0;
    }

    .logo-icons {
        display: flex;
        justify-content: space-between;
    }

    .l-icon {
        margin-left: 2.3em;
    }


    .second-section {
        display: none;
    }

    .main-links {
        margin-top: 2em;
    }

    .main-links ul li {
        display: flex;
        color: black;
    }

    .main-links a {
        color: black;
    }



}